@import url('https://fonts.googleapis.com/css2?family=Alef&family=Sarala&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Alef', sans-serif;
    font-family: 'Sarala', sans-serif; 
}

.dark{   
    background: #1a1a1a;
    color: white;
}

.light{
    background: #9c9c9c;
    color: #1a1a1a;
}

.header-dark{
    background: #000;
}

.header-light{
    background: #555;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title{
    padding: 0px 30px;
    font-size: 60px;
    color: #4E9F3D;
}

.navbar-list{
    display: flex;
    align-items: center;
    list-style: none;
    color: #D8E9A8;
}

.navbar-list-element{
    padding: 0px 30px;
    font-size: 25px;
}

.btn-light{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Alef', sans-serif;
    background: #9c9c9c;
}

.btn-dark{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Alef', sans-serif;
    background: #9c9c9c;
    color: white;
}

.lightmode-btn{
    margin-right: 50px;
    cursor: pointer;
}

.main-img{
    width: 100%;
}

#main-img2-contenedor{
    margin: 30px 0;
}

#main-img2{
    border: 1px solid #4E9F3D;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.main-index{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto
}

.main-title{
    text-align: center;
    padding: 30px 0;
    color: #4E9F3D;
    font-size: 40px;
}

.main-desc{
    text-align: center;
    padding: 30px 0;
    font-size: 25px;
}

.main-btn{
    width: 180px;
    margin: 40px 0;
    background: #D8E9A8;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

.main-btn:hover{
    background: #4E9F3D;
    color: white;
    transition: 1s;
}

.main-btn-contenedor{
    display: flex;
    justify-content: center;
}

.desc{
    padding: 20px 30px;
    font-size: 25px;
}

.loader{
    color: white;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.loader-active{
    opacity: 1;
    visibility: visible;
}

#reset-button{
    background: #d7a224;
    color: #e81414;
    width: 145px;
    font-size: 25px;
    height: 55px;
    -webkit-text-stroke: 0.3px black;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 90%;
    left: 90%;
}


#main-orion{
    border: #D8E9A8 1px solid;
    margin: 0 50px;
    border-left: 10px #D8E9A8 solid;
    height: 100px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

#main-orion-img{
    height: 80px;
}

.q{
    border: #D8E9A8 1px solid;
    padding: 1em 0;
    border-radius: 5px;
    border-left: 10px #D8E9A8 solid;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.q:hover, .q:hover .arrow{
    transition: 0.5s;
    border-left-color: #4E9F3D;
}

.arrow{
    display: inline-block;
    margin: 0 0.5em;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid #555;
    border-bottom: 6px solid transparent;
    transition: 0.5s;
}

.b{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
    height: 0;
}

.b-opened{
    height: initial;
    transition: 0.3s;
}

.b-element{
    border: #413939 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 15px 0px;
}

.b-element img{
    height: 80px;
    width: 80px;
}

.a{
    overflow: hidden;
    height: 0;
}

.a-opened{
    height: initial;
    transition: 0.3s;
}

.arrow-rotated{
    transform: rotate(90deg);
    border-left: 10px solid #4E9F3D;
}

#main{
    max-width: 90%;
    margin: 40px auto;
}

.armas-elemento{
    padding: 0px 50px;
    font-size: 35px;
    list-style: none;
}

#fusiles-asalto{
    list-style: none;
}

.fusiles-asalto-elemento{
    font-size: 25px;
    border: #413939 1px solid;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
}

.armas-buttons-section{
    border: #413939 1px solid;
}

.fusiles-asalto-elemento-nombre{
    text-align: center;
    padding-top: 10px;
}

.fusiles-asalto-elemento-img{
    height: 180px;
    width: 280px;
    grid-row: 2 / 6;
    justify-self: center;
    align-self: center;
}

#fusiles-asalto, #fusiles-combate, #subfusiles, #ametralladoras, #fusiles-tact, #snipers, #pistol #launcher, #melee{
    padding: 0;
}

.button-oro::before, .button-plat::before, .button-poli::before{
    content: attr(data-hover);
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.button-oro:hover::before, .button-plat:hover::before, .button-poli:hover::before{
    opacity: 1;
    visibility: visible;
}

.button-base, .button-oro, .button-plat, .button-poli{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.button-base-clicked, .button-oro-clicked, .button-plat-clicked, .button-poli-clicked{
    background-color: #4E9F3D;
}

.footer-dark{
    background: #575757;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 0px 450px;
    margin-top: 20px;
    color: #000;
}

.footer-light{
    background: #7d7d7d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 0px 450px;
    margin-top: 20px;
    color: #000;
}

.footer-img{
    height: 40px;
    width: 40px;
}